<% add_stylesheet 'articles' %>
<h1><%= header_for @article, 'article' %></h1>
<ul class="options">
  <li><%= link_to 'Cancel', articles_path %></li>
</ul>

<% form_for @article, :html => { :class => 'model' } do |f| %>
  
  <h4>Name</h4>
  <fieldset>
    <%= f.text_field :name, :size => 40 %>
  </fieldset>  
  
  <h4>Slug</h4>
  <fieldset>
    <%= f.text_field :slug, :size => 25 %>
  </fieldset>  
    
  <div class="content">
  <%= f.text_area :content, :size => '102x40' %>
  </div>
  <br/>
  
  <h4>Section</h4>
  <fieldset>
    <%= f.select :section_id, Section.all.map { |s| [ s.name, s.id ] } %>
  </fieldset>  
  
  <h4>Published?</h4>
  <fieldset>  
    <%= f.check_box :published %>
  </fieldset>  
    
  <%= submit_tag 'Save' %>
  
<% end %>