<h1><%= header_for @article, 'article' %></h1>
<ul class="options">
  <li><%= link_to 'Cancel', articles_path %></li>
  <% unless @article.new_record? %>
  <li><%= link_to 'Delete article', article_path(@article), 
                  :method => :delete, :confirm => 'Are you sure you want to delete this article?' %></li>
  <% end %>
</ul>

<%= errors_for @article.route, @article %>

<% form_for @article, :html => { :class => 'model' } do |f| %>
  
  <div class="left col2 content_editor">
    
    <h4>Name</h4>
    <fieldset>
      <%= f.text_field :name, :size => 40 %>
    </fieldset>   

    <div>
    <%= f.text_area :content %>
    </div>
    <br/>

    <h4>Slug</h4>
    <fieldset>
      <%= f.text_field :slug, :size => 25 %>
    </fieldset>
    
    <%= submit_tag 'Save' %>
    
    
  </div>
  
  <div class="left col2 content_options">
    
    <h4>Section</h4>
    <fieldset>
      <%= f.select :section_id, Section.root.map { |s| [ s.name, s.id ] } %>
    </fieldset>  

    <h4>Published?</h4>
    <fieldset>  
      <%= f.check_box :published %>
    </fieldset>
    
    <%= link_to 'Delete article', @article, :method => :delete, :confirm => 'Are you sure you want to delete this article?' if @article.new_record? %>
    
  </div>
  
<% end %>