<h1>Articles</h1>

<ul class="options">
  <li class="feature"><%= link_to 'New article', new_article_path %></li>
  <li><%= link_to_unless_current 'All', articles_path %></li>
  <li><%= link_to_unless_current 'Published', published_articles_path %></li>
  <li><%= link_to_unless_current 'By Section', sections_articles_path %></li>
</ul>

<%= render :partial => @articles if @articles %>
<%= render :partial => 'section', :collection => @sections if @sections %>
