<h1>Theme Editor</h1>
<ul class="options">
  <li><%= link_to 'Back to list', themes_path %></li>
  <li>'<%= @theme.name %>' is <%= @theme.complete? ? 'complete' : 'incomplete' %></li>
</ul>

<% form_tag new_component_theme_path(@theme) do %>
<div class="left col2 component_list">
  <ul>
  <% @theme.components.each do |component| %>
    <li><%= link_to_unless component == @component, component.name.titleize, { :component => component.name } %></li>
  <% end %>
  <li>
    <p class="info">
      Create component
    </p>  
    <%= text_field_tag :new_component_name %> <%= submit_tag '&rarr;' %>
  </li>  
  </ul>
</div>
<% end %>

<div class="left col2 editor">
  <% form_for @theme do |f| %>
  
    <% fields_for @component do |c| %>
    <div>
      <%= c.text_area :content %>
    </div>
    <% end %>
    <%= hidden_field_tag :component_id, @component.id %>
    <p class="align_right info">
      <% unless @component.required? %>
      <%= link_to 'Delete', destroy_component_theme_path(@theme, { :component => @component.name }), :method => :delete, :confirm => 'Are you sure you want to delete this theme? Doing so could screw up any page that uses it.' %> <span>|</span>
      <% end %> 
      <%= submit_tag 'Save' %>
    </p>
    
  <% end %>
</div>