<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Ozark :: blog</title>
	<%= stylesheet_link_tag stylesheets %>
	
</head>

<body>
  
  <div id="bar">
    <div class="inset">
      <%= link_to 'Preview', '/' %> <span>|</span> <%= link_to 'Logout' %>
    </div>
  </div>
  
  <div id="wrapper">

    <div id="mast">
      <p><%= link_to 'Ozark', dashboard_path %></p>
      <ul>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'Pages', pages_path %></li>
        <li><%= link_to 'Sections', sections_path %></li>
        <li><%= link_to 'Media' %></li>
        <li><%= link_to 'Settings', settings_path %></li>
      </ul>  
      <div class="clearfix"></div>
    </div>  

    <%= yield %>
  
  </div>

</body>
</html>
